.form {
  width: 320px;
  margin: 0 auto;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  color: aliceblue;
}

.title {
  margin-bottom: 100px;

  color: white;
  text-align: center;
}

.btn {
  margin: 0 auto;
  display: block;

  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid white;

  cursor: pointer;

  transition: background 250ms linear;
}

.btn:hover {
  background: white;
  transition: background 250ms linear;
}
